body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(85, 85, 255, 0.1);
}

.add  {
  border-bottom: none;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    border: 3px solid rgb(214, 205, 191, 0.1);
}

.add_modal {
    display: none;
    position: absolute;
    min-height: 300px;
    width: 300px;
    padding: 30px;
    background-color: rgba(28, 94, 180, 1);
    top: 150%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    flex-direction: column;
    animation: showmodal 5s  ease-in-out;
    z-index: 2;
  }
  
  @keyframes showmodal {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .show {
    display: flex;
  }
  
  .add-post__modal input {
    font-size: 30px;
    padding: 0 25px 0 25px;
  }
  
  .add-post__modal textarea {
    min-height: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .title_mod {
    color: white;
    font-size: 30px;
  }
  
  .desc_mod {
    color: white;
    text-transform: uppercase;
  }
  
  .public_btn {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #1278bdd3;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .public_btn:hover {
    background-color: yellowgreen;
  }

  .send-btn {
    background-color: white;
    color: #1278bdd3;
  }

  .post {
    padding: 20px 40px;
    border-bottom: 3px solid rgb(214, 205, 191, 0.1);;
    min-height: 260px;
  }
  
  .post__header {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
  }
  
  .buttons button {
    background-color: #FFF;
    cursor: pointer;
  }
  
  .btn-close {
    border-radius: 50px;
    border: 1px solid rgba(85, 85, 255, 0.1);
    margin-bottom: 25px;
    font-size: 25px;
    color: blue;
  }
  
  .btn-close:hover {
    color: black;
    transition: 0.25s;
    background-color: blue;
  }
  
  .btn-change {
    border-radius: 25px;
    min-width: 50px;
    min-height: 50px;
    color: blue;
    border: 1px solid rgba(85, 85, 255, 0.1);
    margin-bottom: 25px;
    font-weight: 900;
  }

  .btn-change:hover {
    background-color: blue;
    color: black;
    border: 1px solid blue;
   }
   
  .change {
    display: flex;
    flex-direction: column;
  }
  
  .post__title-input {
    display: block;
    margin: 25px 0 25px;
    padding: 0 25px 0 25px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;    
  }
  
  .post__text-input {
    display: block;
    padding: 0 10px 0 10px;
    min-height: 56px;
    font-size: 18px;
  }
  
  .post__title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .loader {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #34dbb1;
    border-radius: 50%;
    width: 50px;
    height: 50px;;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


  .post__user-name, .post__title, .post__text {
    color: blue;
  }

  .title-input, .text-input {
    border-radius: 10px;
    font-size: 24px;
  }