body {
    font-family: 'Roboto' sans-serif;
    background: url(../depositphotos_54065849-stock-photo-hacker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1160px;
    margin: 0 auto;
    align-items: center;
}

.btn {
    margin-top: 75px;
    margin-left: 500px;
    padding: 25px;
    border-radius: 50px;
    border: 1px solid rgb(92, 27, 27, 0.25);
    background: rgb(92, 27, 27, 0.5);
    cursor: pointer;
    color: black;
    font-size: 25px;
}

.btn:hover {
    background: rgba(194, 206, 23, 0.5);
}


h2 {
    margin-left: 490px;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 700;
    color: azure;
    padding-top: 75px;
}

li {
    font-size: 30px;
    /* align-items: center; */
    font-size: 24px;
    font-weight: 700;
    color: azure;
}

.info__ip {
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
}

.loader {
    margin-top: 75px;
    margin-left: 570px;
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #3445db;
    border-radius: 50%;
    width: 50px;
    height: 50px;;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

